@font-face {
	font-family: 'coc';
	src: 'coc.ttf';
}

a{
	text-decoration: none;
}

body{
	transition: 1s;;
}

.lagu{
	display: block;
}

.waktu{
	height: 40px;
	font-size: 14px;
	background-color: #ddd;
	position: fixed;
	/*z-index: 9;*/
	bottom: 0;
	right: 0;
	left: 0;
	display: flex;
	justify-content: end;
	align-items: center;
	padding: 10px;
	padding-bottom: 0;
}

.teksPenunjang{
	width: 50%;
}

.isiWaktuContainer{
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: end;
	align-items: center;
}

.container{
	/* background-color: #F0EABE; */
}
.bgc{
	background-color: #F0EABE;
}